<%- include("./partials/header.ejs") %>

    <section class="viewpost">
        <h1 class="viewpost_title">All Posts</h1>
        <section class="viewpost_body">
            <% locals.posts.map((post) => { %>
                <section class="blog_title">
                    <p><strong>Date</strong>: <%= post.date %></p>
                    <p><strong>Title</strong>: <%= post.title %></p>
                </section>
                <section class="blog_body">
                    <p><strong>Content</strong>: <%= post.content %></p>
                </section>
                <section>
                    <p><strong>Author:</strong> <%= post.author %></p>
                </section>
                <!-- <button type="submit" formaction="/edit" formmethod="PATCH">Edit</button>
                <button>Delete</button> -->
                <br>
                <br>
                <hr>
                <br>
            <% }) %>
        </section>
    </section>

    <!-- <section class="createpost">
        <h1 class="createpost_title">Create a new post</h1>
        <section class="createpost_body">
            <form action="/submit" method="POST">
                <div>
                    <input type="text" name="title" id="" placeholder="Blog title">
                </div>
                <div>
                    <textarea name="comment" rows="10" cols="50" placeholder="Blog content goes here"></textarea>
                </div>
                <div>
                    <button type="submit">Post</button>
                </div>
            </form>
        </section>
    </section> -->

<%- include("./partials/footer.ejs") %>    