<%- include("./partials/header.ejs") %>

    <section class="viewpost">
        <h1 class="viewpost_title">View Posts</h1>
        <section class="viewpost_body">
            <section class="blog_title">
                <p><strong>Date</strong>: <%= locals.date %></p>
                <p><strong>Time</strong>: <%= locals.time %></p>
                <p><strong>Title</strong>: <%= locals.title %></p>
            </section>
            <section class="blog_body">
                <p><strong>Comments</strong>: <%= locals.comment %></p>
            </section>
            <!-- <button type="submit">Delete Post</button> -->
        </section>
    </section>

    <br>

    <hr>

    <br>

    <section class="createpost">
        <h1 class="createpost_title">Create a new post</h1>
        <section class="createpost_body">
            <form action="/submit" method="POST">
                <div>
                    <input type="text" name="title" id="" placeholder="Blog title">
                </div>
                <div>
                    <textarea name="comment" rows="10" cols="50" placeholder="Blog content goes here"></textarea>
                </div>
                <div>
                    <button type="submit">Post</button>
                </div>
            </form>
        </section>
    </section>

<%- include("./partials/footer.ejs") %>    